@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

html{
    height: 100%;
}
  
:root{
    --main-color: 	#000000;
    --secondary-color: #FFFFFF;
    --colorOne: #d3d3d3;
    --colorTwo: #b24800;
    --colorThree: #e48f33;
}

body{
    /*font-family: 'Mukta', sans-serif;*/
    font-family: 'Cinzel', serif;
    min-height: 100%;
}

h1, h2{
    font-family: 'Cinzel', serif;
}

#content{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    min-height: 100%;
    margin-bottom: 0;
}

/*--------BANNER---------*/

#banner{
    background-color: var(--main-color);
    color: var(--colorOne);
    text-align: right;
    grid-area: 1/1/2/5;
    font-size: 2.5rem;
    padding-right: 10rem;
}

#heading{
    padding-top: 2rem;
}

/*--------NAVIGATION---------*/

#nav{
    background-color: var(--colorOne);
    color: var(--main-color);
    grid-area: 2/1/6/2;
    padding: 2rem;
}

#nav a{
    color: var(--main-color);
    text-decoration: none;
}

#projects{
    padding-top: 0.5rem;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
}

.todo{
    color: red;
}

/*--------MAIN---------*/

#mainContent{
    background-color: var(--secondary-color);
    color: var(--main-color);
    grid-area: 2/2/6/5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5% 5% 90%;
}

#mainContentHeading{
    grid-area:1/1/3/3;
    padding: 2rem;
    font-size: 3rem;
}

#tasks{
    grid-area: 3/1/7/3;
    width: 80%;
    padding-bottom: 3rem;
    justify-self: center;
    margin-top: 5rem;
}

#key{
    grid-area: 1/2/2/3;
}

.low{
    color: green;
}

.medium{
    color: orange;
}

.high{
    color: red;
}

#addTask{
    grid-area: 2/2/3/3;
}

/*--------MODALS---------*/
#projectModal, #taskModal{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}

.modal-content{
    background-color: var(--secondary-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 25rem;
    box-shadow: 5px 5px 5px var(--main-color); 
}

  /* The Close Button */
  .close {
    color: var(--main-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--tertiary-color);
    text-decoration: none;
    cursor: pointer;
  }

/*--------TASKS---------*/
.task{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--colorOne);
    margin-bottom: 0.09rem;
   padding: 0.5rem;
}

.summary{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:1fr;
}

.title{
    grid-area: 1/1/2/2;
    padding-left: 2rem;
}

.dueDate{
    grid-area:1/2/2/3;
}

.summaryButtons{
    grid-area:1/3/2/4;
    display:flex;
    justify-content: space-evenly;
}

.details{
    display:grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows:repeat(2, 1fr);
    display: none;
}

.description{
    grid-area:1/1/3/2;
}

.priority{
    grid-area:1/2/2/3;
}

.isComplete{
    grid-area:2/2/3/3;
}


.complete{
    text-decoration: line-through;
}