* {
    margin: 0;
    padding: 0;
}
  
:root{
    --main-color: 	#481317;
    --secondary-color: #dfe0a1;
    --colorOne: #770e07;
    --colorTwo: #b24800;
    --colorThree: #e48f33;
}

#content{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/*--------BANNER---------*/

#banner{
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-align: right;
    grid-area: 1/1/2/5;
}

/*--------NAVIGATION---------*/

#nav{
    background-color: var(--colorOne);
    color: var(--secondary-color);
    grid-area: 2/1/6/2;
    padding: 5rem;
}

#nav a{
    color: var(--secondary-color);
    text-decoration: none;
}

#projects{
    padding-top: 0.5rem;
    padding-left: 1rem;
    display: grid;
    gap: 0.5rem;
}

/*--------MAIN---------*/

#mainContent{
    background-color: var(--secondary-color);
    color: var(--main-color);
    grid-area: 2/2/6/5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 5fr;
}

#mainContentHeading{
    grid-area:1/1/3/3;
    padding: 2rem;
}

#tasks{
    grid-area: 3/1/7/3;
    margin: auto;
    width: 80%;
    padding-bottom: 3rem;
}

#key{
    grid-area: 1/2/2/3;
}

.low{
    color: green;
}

.medium{
    color: orange;
}

.high{
    color: red;
}

/*--------TASKS---------*/
.task{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    border: 1px solid black;
   
}

.deleteTask{
    grid-area: 1/2/2/3;
    width: 10%;
}

.description{
    grid-area: 2/1/3/3;
    border-top: 1px solid black;
}

.complete{
    text-decoration: line-through;
}